include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='Bin Packing algorithm visualization by Evan Finnigan')
    title Bin Packing
      
  body
    header
      +nav('..')
    main.content
      h1 Bin Packing Algorithm Visualization
      a(href='https://evanfinnigan.github.io/binpacking/') Web Demo
      br
      br
      a(href='https://github.com/evanfinnigan/binpacking') View the Project on GitHub
      br
      br
      br
      figure
        img(src='../images/binpacking-tutorial-fig4.jpg' alt='Screenshot of Bin Packing program')
        figcaption Screenshot from the Bin Packing project
      br
      p This project was created for CS 4445: Analysis of Algorithms II, taught by Roberto Solis-Oba at The University of Western Ontario.
      p The goal of the project was to create a visualization of an algorithm discussed in class, in order to help the viewer understand how the algorithm works. I chose to create a program which would visualize several different Bin Packing algorithms.
      p The program has options to experiment with the input set, as well as to decide whether or not to sort the input before packing into bins, to see how that affects the algorithm performance and the final result.
      br
      a(href='../tutorials/bin-packing.html') Bin Packing Tutorial
      br
      br
      a(href='https://evanfinnigan.github.io/binpacking/') Web Demo
      br
      br
      a(href='https://github.com/evanfinnigan/binpacking') View the Project on GitHub
    include ../common/footer.pug
