include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('../..')
    meta(name='description' content='Fidget Spinner demo by Evan Finnigan')
    title Fidget Spinner
      
  body
    header
      +nav('..')
    main.content
      h1 Fidget Spinner
      a(href='./fidget/fidget.html') Try it here
      br
      br
      figure
        a.nofocus(href='./fidget/fidget.html')
          img(src='../images/fidget.png' alt='Screenshot of the fidget spinner')
        figcaption Screenshot
      br
      p(style='text-align: center;')
        | A small fidget spinner simulation, made with 
        a(href='https://www.lexaloffle.com/pico-8.php') PICO-8
    include ../common/footer.pug
