include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='Aerial Firefighting game demo by Evan Finnigan')
    title Aerial Firefighting
      
  body
    header
      +nav('..')
    main.content
      h1 Aerial Firefighting
      a(href='https://evanfinnigan.github.io/aerial-firefighting/') Web Demo
      br
      br
      a(href='https://github.com/evanfinnigan/aerial-firefighting') View the Project on Github
      br
      br
      figure
        img(src='../images/aerial-firefighting.png' alt='Screenshot of the game demo')
        figcaption Screenshot from the Aerial Firefighting demo
      br
      p This project was created for CS 4482: Game Engines at The University of Western Ontario.
      p In 
        em Aerial Firefighting
        |, you fly a rescue plane over a procedurally-generated island, and you must put out forest fires in order to save the forests and towns on the island. Time is limited, as the fire spreads quickly and you have a limited water supply. If you run out of water, you'll have to go off-route, flying down over the ocean to gather more.
      p This was an interesting and fun project for me. Some cool features of the game include procedural terrain generation and a dynamic skybox and lighting depending on the time of day.
      br
      br
      
    include ../common/footer.pug
