include ../common/mixins.pug
doctype html
html(lang='en')
  head
    include ../common/meta.pug
    meta(name='description' content='Projects by Evan Finnigan')
    title Projects
      
  body
    header
      +nav('..')
    main.content
      h1 Projects

      p These are some projects and games I have created. The links below provide more details about each project!
      br
      br
      .short-preview
        a.nofocus(href='game-engines.html')
          img(src='../images/thumbnails/aerial-firefighting.png' alt='Thumbnail for Game Engines project.')
        a(href='game-engines.html') Game Engines Final Project
      .short-preview
        a.nofocus(href='bin-packing.html')
          img(src='../images/binpacking-thumbnail.jpg' alt='Thumbnail for Bin Packing project.')
        a(href='bin-packing.html') Bin Packing
      .short-preview
        a.nofocus(href='website.html')
          img(src='../images/thumbnails/website.png' alt='Thumbnail for website.')
        a(href='website.html') Portfolio Website
      .short-preview
        a.nofocus(href='monster-lazer.html')
          img(src='../images/monster-lazer-thumbnail.png' alt='Thumbnail for Monster Lazer.')
        a(href='monster-lazer.html') Monster Lazer
      .short-preview
        a.nofocus(href='fidget.html')
          img(src='../images/fidget.png' alt='Thumbnail for Fidget Spinner.')
        a(href='fidget.html') Fidget Spinner
      .short-preview
        a.nofocus(href='list/index.html')
          img(src='../images/thumbnails/emoji-rank.png' alt='Thumbnail for List Rank Demo.')
        a(href='list/index.html') List Ranking Demo
      br.clear
      br
      br
      br
      p Check back for more projects in the future.
    include ../common/footer.pug
