include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='Projects by Evan Finnigan')
    title Projects
      
  body
    header
      +nav('..')
    main.content
      h1 Projects
      
      .display-case
        .short-preview
          a(href='game-engines.html') Game Engines Final Project
          a.nofocus(href='game-engines.html')
            img(src='../images/thumbnails/aerial-firefighting.png' alt='Thumbnail for Game Engines project.')
          p Fly a plane to put out forest fires!
          +tags('Unity','C#', 'UWO')
          
        .short-preview
          a(href='website.html') Portfolio Website
          a.nofocus(href='website.html')
            img(src='../images/thumbnails/website.png' alt='Thumbnail for website.')
          p My professional web portfolio
          +tags('HTML', 'CSS', 'Pug')

        .short-preview
          a(href='stack-attack.html') Stack Attack
          a.nofocus(href='stack-attack.html')
            img(src='../images/thumbnails/stack-attack.png' alt='Thumbnail for Stack Attack!')
          p A local-multiplayer brawler / totem-pole simulator
          +tags('Unity', 'C#', 'UWO')

        .short-preview
          a(href='vikings.html') Sjøkrigere
          a.nofocus(href='vikings.html')
            img(src='../images/thumbnails/vikings.png' alt='Thumbnail for sjøkrigere.')
          p A retro viking adventure game
          +tags('Unity', 'C#')

        .short-preview
          a(href='graph-algorithms.html') Graph Algorithms
          a.nofocus(href='graph-algorithms.html')
            img(src='../images/pacman_game.gif' alt='Thumbnail for graph algorithms.')
          p An introductory AI project
          +tags('Python', 'AI', 'UWO')

        .short-preview
          a(href='bin-packing.html') Bin Packing
          a.nofocus(href='bin-packing.html')
            img(src='../images/binpacking-thumbnail.jpg' alt='Thumbnail for Bin Packing project.')
          p A visualization of the Bin Packing algorithm
          +tags('Unity','C#', 'UWO')

        .short-preview
          a(href='ray-tracer.html') Ray Tracer
          a.nofocus(href='ray-tracer.html')
            img(src='../images/thumbnails/ray-tracer.jpg' alt='Thumbnail for ray tracer.')
          p A basic graphics engine built in C
          +tags('C', 'UWO')

        .short-preview
          a(href='weather.html') Weather Application
          a.nofocus(href='weather.html')
            img(src='../images/thumbnails/weather.png' alt='Thumbnail for graph algorithms.')
          p One of my first software projects from University.
          +tags('Java', 'UWO')

        .short-preview
          a(href='monster-lazer.html') Monster Lazer
          a.nofocus(href='monster-lazer.html')
            img(src='../images/monster-lazer-thumbnail.png' alt='Thumbnail for Monster Lazer.')
          p Use your laser beam to defend yourself against attacking blobs.
          +tags('HTML','JavaScript')
          
        .short-preview
          a(href='fidget.html') Fidget Spinner
          a.nofocus(href='fidget.html')
            img(src='../images/fidget.png' alt='Thumbnail for Fidget Spinner.')
          p Be the coolest kid in 6th grade!
          +tags('Pico-8')
          
        .short-preview
          a(href='list/index.html') List Ranking
          a.nofocus(href='list/index.html')
            img(src='../images/thumbnails/emoji-rank.png' alt='Thumbnail for List Rank Demo.')
          p Rank fast food restaurants, programming languages, emoji, or anything you want.
          +tags('HTML', 'JavaScript')

      br.clear
      br
      br
      br
      p Check back for more projects in the future.
    include ../common/footer.pug
