include ../common/mixins.pug
doctype html
html(lang='en')
  head
    include ../common/meta.pug
    meta(name='description' content='Monster Lazer game by Evan Finnigan')
    title Monster Lazer
      
  body
    header
      +nav('..')
    main.content
      h1 Monster Lazer
      a(href='https://evanfinnigan.github.io/monster_lazer/') Web Demo
      br
      br
      a(href='https://github.com/evanfinnigan/monster_lazer') View the Project on GitHub
      br
      br
      br
      figure
        img(src='../images/monster-lazer.png' alt='Screenshot of Monster Lazer game')
        figcaption Screenshot from the Monster Lazer game
      br
      p This project was created in one weekend for QHacks, a hackathon at Queen’s University in Kingston Ontario. This game is written in JavaScript which runs in an HTML5 canvas. I didn’t know any JavaScript before this project, so it was a good learning experience.
      br
      br
      a(href='https://evanfinnigan.github.io/monster_lazer/') Web Demo
      br
      br
      a(href='https://github.com/evanfinnigan/monster_lazer') View the Project on GitHub
    include ../common/footer.pug
