include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='Stack Attack! by Evan Finnigan')
    title Stack Attack!
      
  body
    header
      +nav('..')
    main.content
      h1 Stack Attack!
      br
      br
      figure
        img(src='../images/stack-attack.png' alt='Screenshot of Stack Attack!')
        figcaption Design Concept Image for 
          em  Stack Attack!
      br
      p
        em Stack Attack! 
        |  is the couch co-op brawler you've always dreamed about! Make alliances and become more powerful by stacking together with other players! Betray those alliances and battle head-to-head for ultimate victory! Work together, but trust nobody.
      p This was a fun project put together for the Game Development Project course, CS 4480Y, at UWO.
      p The original design for this game is layed out in the game pitch document below.
      .social
        a.nofocus(href='../documents/Totem-Stack.pdf')
          img(src='../images/icons/document.png' alt='resume icon' height='64' width='64')
        br
        a(href='../documents/Totem-Stack.pdf') Game Pitch (PDF)
      br
      br
    include ../common/footer.pug