include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='Retro Vikings Game by Evan Finnigan')
    title Sjøkrigere
      
  body
    header
      +nav('..')
    main.content
      h1 Sjøkrigere
      a(href='https://raw.githubusercontent.com/evanfinnigan/cs4483_project/master/vikings-windows.zip') Windows Build
      br 
      a(href='https://raw.githubusercontent.com/evanfinnigan/cs4483_project/master/vikings-mac.zip') Mac Build 
      br
      br
      a(href='https://github.com/evanfinnigan/cs4483_project') View the Project on Github
      br
      br
      figure
        img(src='../images/vikings.png' alt='Screenshot of ')
        figcaption Screenshot
      br
      p Sjøkrigere is a retro-style game in which the player explores the seas in a viking ship, battles sea monsters, and pillages towns for supplies and crew.
      p I created the game design for this project on my own, but the implementation was done as a group project.
      p The original design for this game is layed out in the game pitch document below.
      .social
        a.nofocus(href='../documents/Vikings.pdf')
          img(src='../images/icons/document.png' alt='resume icon' height='64' width='64')
        br
        a(href='../documents/Vikings.pdf') Game Pitch (PDF)
      br
      br

    include ../common/footer.pug