include ../common/mixins.pug
doctype html
html(lang='en')
  head
    include ../common/meta.pug
    meta(name='description' content='Portfolio Website by Evan Finnigan')
    title Portfolio Website
      
  body
    header
      +nav('..')
    main.content
      h1 Portfolio Website
      a(href='https://evanfinnigan.github.io/portfolio/') Github Pages Version
      br
      br
      a(href='https://github.com/evanfinnigan/portfolio') View the Project on GitHub
      br
      br
      br
      figure
        img(style='border: solid 3px black' src='../images/website.png' alt='Screenshot of portfolio website homepage')
        figcaption Screenshot from the homepage
      br
      p This project is my professional portfolio, it is the website which you are currently viewing. I created it with html & css, and some of the projects within it also use some javascript. I didn't use frameworks or fancy bells and whistles, keeping the project lightweight and fast to load.
      p
        | The website is very fast. At the time of writing, Google's 
        a(href='https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fwww.evanfinnigan.com%2F') Pagespeed Insights
        |  gave the website scores of 98 and 100 on the mobile and desktop versions of the page respectively.
      img(src='../images/desktop_speed_score.png' alt='Desktop Speed Score of 100')
      img(src='../images/mobile_speed_score.png' alt='Mobile Speed Score of 98')
      p
        | In addition to speed, a main focus of this project is learning about & implementing 
        a(href='https://www.w3.org/TR/WCAG21/') web accessibility standards
        | . This is a work in progess as I continue to learn, but below are some evaluations of accessibility using the 
        a(href='https://wave.webaim.org/report#/https://www.evanfinnigan.com') WebAIM WAVE
        |  tool.
      figure
        img(src='../images/webaim_contrast.png' alt='Contrast ratio of 13.15:1')
        figcaption A contrast ratio of 13.15:1, meeting AAA standards.
      br
      figure
        img(src='../images/webaim_report.png' alt='WebAIM report showing 0 errors')
        figcaption WebAIM report showing 0 errors
      p Accessibility is important because not everybody views web content the same way. Some people may view the web using a screen reader. Others use keyboard navigation to traverse a page. There are many reasons for these adaptations, but what's important is that websites and software should not create barriers for their users.
      p While these are some good starting points for accessibility, they don't tell the whole story. These tests have only evaluated the home page, and don't even cover most of the requirements. In order to properly evaluate the accessibility of the web page to ensure compliance, thorough manual testing is still needed. I will continue working to update the website, as there are still many things I need to improve.
      br
      br
      a(href='https://evanfinnigan.github.io/portfolio/') Github Pages Version
      br
      br
      a(href='https://github.com/evanfinnigan/portfolio') View the Project on GitHub
    include ../common/footer.pug
