include common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('.')
    meta(name='description' content='Evan Finnigan\'s Professional Portfolio')
    title Evan Finnigan
      
  body
    header
      +nav('.')

    main.content(style="max-width: 600px; margin: auto;")

      h1 Evan Finnigan
      
      .profilepic
        img(src='images/profile.jpg' alt='profile pic' height='128' width='128')

      br
      br

      div
        | Hi, I'm Evan! I make software.
        br
        br
        div(style="margin: auto;")
          .clear
            a.nofocus(href='https://github.com/evanfinnigan')
              span.left
                img(src='https://evanfinnigan.com/images/icons/github.png' alt='github icon' height='20' width='20')
              span.left(style='padding-left: 1em;').
                GitHub
          .clear
            a.nofocus(href='https://twitter.com/evanfinnigan')
              span.left
                img(src='https://evanfinnigan.com/images/icons/twitter.png' alt='twitter icon' height='20' width='20')
              span.left(style='padding-left: 1em;').
                Twitter
          .clear
            a.nofocus(href='https://www.instagram.com/evanfinnigan/')
              span.left
                img(src='https://evanfinnigan.com/images/icons/instagram.png' alt='instagram icon' height='20' width='20')
              span.left(style='padding-left: 1em;').
                Instagram
        br
        br
        div
          h2 Projects
          ul
            li
              a(href='/projects/game-engines.html') Aerial Firefighting
            li
              a(href='/projects/bin-packing.html') Bin Packing
            li
              a(href='/projects/website.html') Portfolio Website
            li
              a(href='/projects/stack-attack.html') Stack Attack
            li
              a(href='/projects/vikings.html') Sjøkrigere
            li
              a(href='/projects/graph-algorithms.html') Graph Algorithms
            li
              a(href='/projects/ray-tracer.html') Ray Tracer
            li
              a(href='/projects/monster-lazer.html') Monster Lazer
    
      br
      br

      .clear

    include ./common/footer.pug
