include common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('.')
    meta(name='description' content='Evan Finnigan\'s Professional Portfolio')
    title Evan Finnigan
    script(src='./index.js' defer)
      
  body
    header
      +nav('.')

    .content
      canvas#art(width='800', height='800')

    include ./common/footer.pug
