include ../common/mixins.pug
doctype html
html(lang='en')
  head
    include ../common/meta.pug
    meta(name='description' content='Contact Evan Finnigan')
    title Contact
      
  body
    header
      +nav('..')
    main.content
      h1 Contact
      div(style='max-width:450px; margin: auto;')
        | I'm actively seeking employment opportunities.
        br
        br
        | Please send the details to me via email:
      .social(style="margin: 5em auto;")
        a.nofocus(href='mailto:evanfinnigan at gmail.com')
          img(src='../images/icons/email.png' alt='email icon' height='64' width='64')
        br
        a(href='mailto:evanfinnigan@gmail.com') evanfinnigan@gmail.com
      br
    include ../common/footer.pug
