include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='Contact Evan Finnigan')
    title Contact
      
  body
    header
      +nav('..')
    main.content
      h1 Contact
      div(style='max-width:150px; margin: auto; text-align: left;')
        div(style='display:"inline-block"; margin-bottom: 1em; margin-left: 1em;')
          a.nofocus(href='mailto:evanfinnigan@gmail.com')
            img(src='https://evanfinnigan.com/images/icons/email.png' alt='email icon' height='32' width='32' style='padding-right: 1em; vertical-align: middle;')
            | Email
        div(style='display:"inline-block"; margin-bottom: 1em; margin-left: 1em;')
          a.nofocus(href='https://github.com/evanfinnigan')
            img(src='https://evanfinnigan.com/images/icons/github.png' alt='github icon' height='32' width='32' style='padding-right: 1em; vertical-align: middle;')
            | GitHub
        div(style='display:"inline-block"; margin-bottom: 1em; margin-left: 1em;')
          a.nofocus(href='https://twitter.com/evanfinnigan')
            img(src='https://evanfinnigan.com/images/icons/twitter.png' alt='twitter icon' height='32' width='32' style='padding-right: 1em; vertical-align: middle;')
            | Twitter
        div(style='display:"inline-block"; margin-bottom: 1em; margin-left: 1em;')
          a.nofocus(href='https://www.instagram.com/evanfinnigan/')
            img(src='https://evanfinnigan.com/images/icons/instagram.png' alt='instagram icon' height='32' width='32' style='padding-right: 1em; vertical-align: middle;')
            | Instagram
        br
        br
      div(style='max-width:250px; margin: auto; text-align: left; padding-left: 1em;')
        | I'm available for freelance web & software development, as well as full-time opportunities within Canada.
        br
        br
        | Please send the details to me via email:
      .social(style="margin: 2em auto 5em auto;")
        a.nofocus(href='mailto:evanfinnigan@gmail.com')
          img(src='../images/icons/email.png' alt='email icon' height='64' width='64')
        br
        a(href='mailto:evanfinnigan@gmail.com') evanfinnigan@gmail.com
      br
    include ../common/footer.pug
