include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='Contact Evan Finnigan')
    title Contact
      
  body
    header
      +nav('..')
    main.content
      h1 Contact
      div(style='margin: 24px; text-align: left;')
        div(style='display:"inline-block"; margin-bottom: 1em; margin-left: 1em;')
          a.nofocus(href='mailto:evanfinnigan@gmail.com')
            img(src='https://evanfinnigan.com/images/icons/email.png' alt='email icon' height='20' width='20' style='padding-right: 1em; vertical-align: middle;')
            | evanfinnigan @ gmail.com
        div(style='display:"inline-block"; margin-bottom: 1em; margin-left: 1em;')
          a.nofocus(href='https://github.com/evanfinnigan')
            img(src='https://evanfinnigan.com/images/icons/github.png' alt='github icon' height='20' width='20' style='padding-right: 1em; vertical-align: middle;')
            | GitHub
        div(style='display:"inline-block"; margin-bottom: 1em; margin-left: 1em;')
          a.nofocus(href='https://twitter.com/evanfinnigan')
            img(src='https://evanfinnigan.com/images/icons/twitter.png' alt='twitter icon' height='20' width='20' style='padding-right: 1em; vertical-align: middle;')
            | Twitter
        div(style='display:"inline-block"; margin-bottom: 1em; margin-left: 1em;')
          a.nofocus(href='https://www.instagram.com/evanfinnigan/')
            img(src='https://evanfinnigan.com/images/icons/instagram.png' alt='instagram icon' height='20' width='20' style='padding-right: 1em; vertical-align: middle;')
            | Instagram
        div(style='display:"inline-block"; margin-bottom: 1em; margin-left: 1em;')
          a.nofocus(href='/resume')
            img(src='https://evanfinnigan.com/images/icons/document.png' alt='document icon' height='20' width='20' style='padding-right: 1em; vertical-align: middle;')
            | Résumé

      br


    include ../common/footer.pug
