include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='Contact Evan Finnigan')
    title Contact
      
  body
    header
      +nav('..')
    main.content.ml
      h1 Evan Finnigan
      
      .profilepic
        img(src='../images/profile.jpg' alt='profile pic' height='128' width='128')

      div
        | Hi, I'm Evan! I make software.

      h3 Contact Info
      ul
        li
          a(href='mailto:evanfinnigan@gmail.com')
            img.invert.mr(src='https://evanfinnigan.com/images/icons/email.png' alt='email icon' height='20' width='20')
            | evanfinnigan @ gmail.com
        li
          a(href='https://github.com/evanfinnigan')
            img.invert.mr(src='https://evanfinnigan.com/images/icons/github.png' alt='github icon' height='20' width='20')
            | GitHub

    include ../common/footer.pug
