include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='Evan Finnigan\'s')
    title Blog
      

  body
    header
      +nav('..')


    main.content

      h1 Blog

      .social
        a.nofocus(href='https://github.com/evanfinnigan')
          img(src='../images/icons/github.png' alt='github icon' height='64' width='64')
        a.nofocus(href='https://twitter.com/evanfinnigan')
          img(src='../images/icons/twitter.png' alt='twitter icon' height='64' width='64')
        a.nofocus(href='https://www.instagram.com/evanfinnigan/')
          img(src='../images/icons/instagram.png' alt='instagram icon' height='64' width='64')

      .blogpost#3
        h2 Pug & New Projects
        p 22/01/2020
        p
          | I've updated this website, so it now uses 
          a(href='https://pugjs.org/api/getting-started.html') pug
          |  template code to render the HTML. This allows for code reuse and ease of maintenance. I'm using pug locally using the pug-cli and a bash script, which allows me to keep the website as static using simple HTML files, and eliminates the need for a web server.
        p
          | I used a tool called 
          a(href='https://www.npmjs.com/package/html2pug') html2pug
          |  along with a bash script to transform my hand-written HTML into pug templates. This was extremely helpful, as it meant I didn't have to rewrite my entire website in a new language. I then cleaned up the pug files to make sure they worked correctly, and did some refactoring and moved common code into separate pug files and mixins.
          | I like this new project structure, and I think it may be helpful for others, so I might go into more detail in a future tutorial.
        p
          | In other news, I recently participated in the 
          a(href='https://itch.io/jam/wowie-jam') Wowie! Game Jam
          | . I use the term 
          em participated
          |  somewhat loosely, as I didn't actually submit my game. I ended up having to work over the weekend, so I wasn't able to finish. I'm ok with not having submitted the project though, as I mostly just wanted to shake off the rust and get some practise, since I've recently been busy applying to jobs and haven't taken enough time to work on projects.
          | I will probably be uploading the game here soon, so look out for something piano-related in the 
          a(href='/projects') projects
          |  section. I plan to do more game jams and small-scope projects in the near future, and hopefully can work on some useful new tutorials.
          p - Evan
      .blogpost#2
        h2 Update!
        p 03/10/2019
        p Hello again!
        p
          | I've been offline for the summer, enjoying a lovely life outdoors as a member of the Resource Team at 
          a(href='https://canterburyhillscamp.ca/') Canterbury Hills
          | . As such I've neglected this website, so I figure it's time for some updating.
        p
          | Slowly I plan to publish some little projects I've worked on in the past, along with new ones as they come along. To start, I have added a dumb little 
          a(href='../projects/fidget.html') Fidget-Spinner
          |  toy that I made in PICO-8 a while back, mostly as a joke for my friends, when fidget-spinners were trending.
        p
          | I've been busy recently working on a business project with a close friend of mine, which we have pitched to 
          a(href='https://www.ycombinator.com/') Y Combinator
          | . It's been interesting to dip my toes in the water learning how to make a web application, as I haven't really done any web development in the past for school or for work. I'm building the prototype with Node.js and Express. I might follow up with more about that project at a later date, but that's what I'm up to at the moment.
        p ✌☮️❤️
        p - Evan

      .blogpost#1
        h2 List Ranking Demo
        p 07/05/2019
        p Hey everybody,
        p
          | I have created a small demo application following the recent tier-list ranking craze. If you don't know what I'm talking about, you can find the original 
          a(href='https://www.youtube.com/watch?v=G8lRlYdzmMY') Fast Food Tier List
          |  by iDubbbz, and some other good examples 
          a(href='https://www.youtube.com/watch?v=Ojo7sRcGFlY') here
          |  and 
          a(href='https://www.youtube.com/watch?v=gUU1HOj7o2k') here
          | . The idea to make an easier ranking platform was suggested to me by my close friend Isaac, so I put together a quick proof-of-concept.
        p
          a(href='../projects/list/index.html') Try the demo
          |  and have fun 😎
        p - Evan

      .blogpost#0
        h2 First Post: Website Creation
        p 08/04/2019
        p Hello!
        p I am happy to announce the creation of my website, the primary purpose of which is to act as my professional portfolio. As time goes on, I will post projects and tutorials based on software that I create. I hope that you will find this content interesting or useful!
        p - Evan

    include ../common/footer.pug
