footer
  ul
    li
      a(href='https://github.com/evanfinnigan')
        img(src='https://evanfinnigan.com/images/icons/github.png' alt='github icon' height='32' width='32')
        span.ml GitHub    
    li
      a(href='https://twitter.com/evanfinnigan')
        img(src='https://evanfinnigan.com/images/icons/twitter.png' alt='twitter icon' height='32' width='32')
        span.ml Twitter
    li
      a(href='https://www.instagram.com/evanfinnigan/')
        img(src='https://evanfinnigan.com/images/icons/instagram.png' alt='instagram icon' height='32' width='32')
        span.ml Instagram
                
      br 
      address
      | Ⓒ 
      a(href='mailto:evanfinnigan@gmail.com') Evan Finnigan 2021
