footer
  div
    .clear(style='margin-left: -60px;')
      a.nofocus(href='https://github.com/evanfinnigan')
        span.left
          img(src='https://evanfinnigan.com/images/icons/github.png' alt='github icon' height='32' width='32')
        span.left(style='padding-left: 1em;').
          GitHub
                
    .clear(style='margin-left: -60px;')
      a.nofocus(href='https://twitter.com/evanfinnigan')
        span.left
          img(src='https://evanfinnigan.com/images/icons/twitter.png' alt='twitter icon' height='32' width='32')
        span.left(style='padding-left: 1em;').
          Twitter
                
    .clear(style='margin-left: -60px;')
      a.nofocus(href='https://www.instagram.com/evanfinnigan/')
        span.left
          img(src='https://evanfinnigan.com/images/icons/instagram.png' alt='instagram icon' height='32' width='32')
        span.left(style='padding-left: 1em;').
          Instagram
                
    br
    br
    br
        
    .clear(style='margin-left: -85px;')
      address
      | Ⓒ 
      a(href='mailto:evanfinnigan@gmail.com') Evan Finnigan 2019