.social
  a.nofocus(href='https://github.com/evanfinnigan')
    img(src='../images/icons/github.png' alt='github icon' height='64' width='64')
  a.nofocus(href='https://twitter.com/evanfinnigan')
    img(src='../images/icons/twitter.png' alt='twitter icon' height='64' width='64')
  a.nofocus(href='https://www.instagram.com/evanfinnigan/')
    img(src='../images/icons/instagram.png' alt='instagram icon' height='64' width='64')